.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  max-width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  font-size: 24px;
  text-transform: uppercase;
}

.statList {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  width: 40px;
  
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 15px;
  background-color: whitesmoke;
  color: rgb(59, 59, 59);
}

.label {
  font-size: 18.5px;
  padding-bottom: 8px;
  font-weight: 600;
  color: #2c9ffe;;
}

.percentage {
  font-size: 18px;
}
